:root {
    --color-dark-green: #206004;
    --color-light-green: #7D9B70;
    --color-brown: #635436;
    --color-white: #FFFDFA;
    --color-black: #2B2B2B;
  }


body {
    background-color: var(--color-white);
    color: var(--color-dark-green);

}
a, a:visited, a:hover, a:active {
    color: inherit;
}
nav {
    background-color: var(--color-light-green);
}

.notification {
    background-color: var(--color-brown);
}

.heading {
    color: var(--color-dark-green);
}

.heading--white {
    color: var(--color-white);
}

.p--white {
    color: var(--color-white);
}

.btn--icon-white {
    color: var(--color-white);
    background: none;
    padding: 0;
    border: none;
}

.btn--icon-green {
    color: var(--color-dark-green);
    background: none;
    padding: 0;
    border: none;
}

.filter-wrapper > .btn--icon-green {
    color: var(--color-dark-green);
    padding: 0;
    border: 2px solid var(--color-dark-green);
    border-radius: 5px;
}

.btn--brown {
    background-color: var(--color-brown);
    border: none;
    color: var(--color-white);
}

.btn--shoppay {
    background-color: #583BEC;
    border: none;
    color: var(--color-white);
}

.btn--paypal {
    background-color: #FFC43A;
    border: none;
    color: var(--color-white);
}

.btn--green {
    background-color: var(--color-dark-green);
    border: none;
    color: var(--color-white);
}

.input {
    background-color: var(--color-white);
    border: none;
}

.payment-page-wrapper .input {
    border: 2.5px solid var(--color-dark-green);
}

.payment-info > #payment-method {
    background-color: var(--color-dark-green);
    color: var(--color-white);
}

.search-input {
    border: 2.5px solid var(--color-dark-green);
}

.input::placeholder {
    color: var(--color-light-green); 
}

.category-name {
    text-shadow: 1px 1px 4px var(--color-black);
}

details {
    border-bottom: 2.5px solid  var(--color-dark-green);
}

details:first-child {
    border-top: 2.5px solid var(--color-dark-green);
}

.review-card {
    border: 2.5px solid var(--color-dark-green);
}

footer {
    background-color: var(--color-light-green);
}

.popup-content {
    background-color: var(--color-white);
}

.cart-heading-wrapper, .cart-item {
    border-bottom: 2.5px solid var(--color-dark-green);
}

.hamburger-menu-top-half, .hamburger-menu-bottom-half, .hamburger-menu-currency-selector {
    border-bottom: 2.5px solid var(--color-dark-green);
}

.quantity-selector {
    border: 2.5px solid var(--color-dark-green);
}

.size-option {
    border: 1px solid var(--color-dark-green);
}

.size-option:hover, .size-option--clicked  {
    box-shadow: inset 0 0 0 1px var(--color-dark-green); 
}

.side-image:hover {
    border: 3px solid var(--color-dark-green);
}

.side-image--clicked {
    border: 3px solid var(--color-dark-green);
    opacity: 1;
}


.side-image--unclicked {
    opacity: 0.5;
}

.color-option {
    border: 1px solid var(--color-dark-green);
    border-radius: 50px;
}

.color-option--white {
    background-color: #FFFFFF;
}

.color-option--pink {
    background-color: #D279A4;
}

.color-option:hover, .color-option--clicked {
    box-shadow: inset 0 0 0 1px var(--color-dark-green); 
}



