/* Reset the default settings by browser  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  --gap-section-title-content: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

nav > a {
  justify-self: center;
}

header {
  width: 100%;
}
.notification {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.nav-links-ul{
  display: flex;
  justify-content: center;
  justify-self: start;
  gap: 1rem;
}
.nav-links-ul li {
  white-space: nowrap;
}

.btn, .btn--green {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.menu-links {
  display: none;
}

.brand-logo {
  width: 215px;
  justify-self: center;
}

.icon-buttons {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  justify-self: end;
}

.hero-section {
  display: grid;
  grid-template-columns: 7fr 5fr;
  height: 70vh;
  max-height: 600px;
}

.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-image-wrapper, .about-image-wrapper, .product-card, .category-card{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.value-image-wrapper {
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.hero-image, .about-image, .value-image, .blog-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-image {
  object-position: center 30%;
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; 
}

.about-section {
  display: grid;
  grid-template-columns: 6fr 6fr;
  min-height: 30vh;
  height: auto;
}

/* Must add all the sections with flex-direction column */
.best-seller-section, .browse-by-category-section, .blog-section, .review-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

/* Must add all the sections that has sub-heading */
.best-seller-section, .browse-by-category-section, 
.value-section, .blog-section, .review-section, .popup-content, .popular-searches {
  gap: var(--gap-section-title-content);
}

.product-cards-wrapper-row, .category-cards-wrapper, .search-suggestion-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
}

/* Adding the gap between images and texts */
.product-card, .category-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-image, .category-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 3/4;
}

.category-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.value-section {
  display: grid;
  grid-template-columns:1fr 2fr;
  justify-content: space-around;
}

summary {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

summary::-webkit-details-marker {
  display: none;
}

.accordion-icon {
  font-size: 2rem !important;
  transition: transform 0.2s ease;
  justify-content: end;
}

details[open] .accordion-icon {
  transform: rotate(180deg);
}


.blog-cards-wrapper {
  display: grid;
  grid-template-columns:1fr 1fr;
  justify-content: space-around;
}

.blog-card {
  height: 400px;
  width: auto;
  overflow: hidden;
}

.blog-card {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.blog-card::before {
  content: '';
  background: rgba(0,0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 80%);
  opacity: 0.7; 
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 0.5em 0.5em;
  z-index: 1;
}

.blog-title {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  z-index: 2;
}

.review-cards-wrapper {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  justify-content: space-around;
}

.review-card {
  height: auto;
}

.review-stars {
  display: flex;
  gap: 0.2rem;
}
.review-star-and-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review-shop-now-btn {
  align-self: center;
}

footer {
  display: grid;
  grid-template-columns: auto auto;
}

.footer-right-side {
  grid-area: 1 / 2 / span 3 / span 2;

}

.footer-bottom-side {
  grid-area: 2 / 1 / span 2 / span 1;
}

.form-input-wrapper, .social-media-icon-wrapper {
  display: flex;
  flex-direction: row;
}

.input{
  border-radius: 10px;
  width: auto;
}

.popup-content, .popular-searches {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search-function {
  display: flex;
  align-items: center;
}

.search-input-wrapper {
  position: relative;
  flex: 1; 
}

.search-input {
  width: 100%;
}

.search-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);

}

.close-popup {
  flex-shrink: 0;
  width: auto; 
}

/* For controlling pop-ups in Javascript */
.hidden {
  display: none;
}

/* Position of standard pop-up (search pop-up) */
.popup {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}

/* Set the  background of pop-up to be black */
.popup--overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 390px) {

  body {
    flex-direction: column;
  }

  .brand-logo{
    width: 150px;
  }

  .nav-links-ul {
    display: none;
  }

  .currency-selecter-wrapper {
    display: none;
    height: auto;
  }

  .icon-buttons {
    gap: 0.5rem;
  }
  
  .menu-links {
    display: flex;
    justify-self: start;
  }

  .hero-section, .about-section, .value-section, 
  .blog-cards-wrapper, .review-cards-wrapper, footer{
    display: flex;
    flex-direction: column;
  }

  .about-section{
    height: auto;
  }

  .about-hidden-desktop {
    display: none;
  }

  .product-cards-wrapper-row, .category-cards-wrapper, .search-suggestion-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .value-image-wrapper {
    height: 200px;
  }

  .blog-card {
    height: 200px;
  }

  .review-card-hidden-mobile {
    display: none;
  }

}

