/* Reset the default settings by browser  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  width: 100%;
}
.notification {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 1rem;
}

.nav-links-ul{
  display: flex;
  justify-content: center;
  justify-self: start;
  gap: 1rem;
}
.nav-links-ul li {
  white-space: nowrap;
}

.btn {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}

.menu-links {
  display: none;
}

.brand-logo {
  width: 215px;
  justify-self: center;
}

.icon-buttons {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  justify-self: end;
}

.hero-section {
  display: grid;
  grid-template-columns: 7fr 5fr;
  height: 60vh;
}

.hero-image-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 30%;
}

.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 390px) {

  body {
    flex-direction: column;
  }

  .brand-logo{
    width: 150px;
  }

  .nav-links-ul {
    display: none;
  }

  .currency-selecter-wrapper {
    display: none;
  }

  .icon-buttons {
    gap: 0.5rem;
  }
  
  .menu-links {
    display: flex;
    justify-self: start;
  }

  .hero-section{
    display: flex;
    flex-direction: column;
  }

}

