:root {
    --padding-extra-small-desktop: 0.5rem;
    --padding-extra-small-mobile: 0.4rem;
    --padding-small-desktop: 1rem;
    --padding-small-mobile: 0.6rem;
    --padding-medium-desktop: 2rem;
    --padding-medium-mobile: 1rem;
    --padding-large-desktop: 3rem;
    --padding-large-mobile: 2rem;
    
    /* Side padding */
    --padding-side-desktop: 2rem;
    --padding-side-mobile: 0.8rem;

    /* Padding for buttons */
    --padding-btn-tb-desktop: 0.7rem;
    --padding-btn-lr-desktop: 3rem;
    --padding-btn-tb-mobile: 
  }
  
p {
    padding: var(--padding-extra-small-desktop) 0;
}

.notification {
    padding: var(--padding-extra-small-desktop) 0;
}

nav {
    padding: var(--padding-small-desktop) var(--padding-side-desktop);
} 

.hero-section, .about-section, .best-seller-section {
    padding: var(--padding-medium-desktop) var(--padding-side-desktop);
}

.hero-content-wrapper, .about-content-wrapper {
    padding: 0 var(--padding-side-desktop);
}
.btn {
    padding: var(--padding-btn-tb-desktop) var(--padding-btn-lr-desktop);
}

.product-cards-wrapper-row {
    gap: var(--padding-small-desktop);
}

@media (max-width: 390px) {
    .notification{
        padding: var(--padding-extra-small-mobile) 0;
    }

    nav {
        padding: var(--padding-small-mobile) var(--padding-side-mobile);
    } 

    .hero-section, .about-section, .best-seller-section {
        padding: var(--padding-medium-mobile) var(--padding-side-mobile);
    }

    .hero-content-wrapper, .about-content-wrapper {
        padding: 0;
    }

    .about-section {
        padding: var(--padding-medium-mobile) var(--padding-side-mobile);
    }

    .product-cards-wrapper-row {
        gap: var(--padding-small-mobile);
    }

}