:root {
    --padding-extra-small-desktop: 0.5rem;
    --padding-extra-small-mobile: 0.4rem;
    --padding-small-desktop: 1rem;
    --padding-small-mobile: 0.6rem;
    --padding-medium-desktop: 2rem;
    --padding-medium-mobile: 1rem;
    --padding-large-desktop: 3rem;
    --padding-large-mobile: 2rem;
    
    /* Side padding */
    --padding-side-desktop: 2rem;
    --padding-side-mobile: 0.8rem;

    /* Padding for buttons */
    --padding-btn-tb: 0.7rem;
    --padding-btn-lr: 3rem;
    --padding-btn-green-tb: 0.5rem;
    --padding-btn-green-lr: 1.5rem;

  }
  
p, .review-star-and-name {
    padding: var(--padding-extra-small-desktop) 0;
}

.notification {
    padding: var(--padding-extra-small-desktop) 0;
}

nav {
    padding: var(--padding-small-desktop) var(--padding-side-desktop);
} 

/* Must add all the sections */
.hero-section, .about-section, .best-seller-section, 
.browse-by-category-section, .value-section, .blog-section, 
.review-section, footer, .popup {
    padding: var(--padding-medium-desktop) var(--padding-side-desktop);
}

/* Must add all the sections with gap between items in row */
.product-cards-wrapper-row, .category-cards-wrapper,
 .blog-cards-wrapper, .review-cards-wrapper, footer, .search-function {
    gap: var(--padding-small-desktop);
}

.hero-content-wrapper, .about-content-wrapper {
    padding: 0 var(--padding-side-desktop);
}
.btn {
    padding: var(--padding-btn-tb) var(--padding-btn-lr);
}

.btn--green, .input {
    padding: var(--padding-btn-green-tb) var(--padding-btn-green-lr);
}

/* Add padding to acoomodate search icon */
.search-input {
    padding-left: 3.5rem;
}

details {
    padding: var(--padding-extra-small-desktop) 0;
}

.value-image-wrapper {
    padding: var(--padding-extra-small-desktop) 0;
}

.review-card {
    padding: var(--padding-small-desktop);
}

.form-input-wrapper, .social-media-icon-wrapper {
    gap: var(--padding-extra-small-desktop);
}

@media (max-width: 390px) {
    .notification{
        padding: var(--padding-extra-small-mobile) 0;
    }

    nav {
        padding: var(--padding-small-mobile) var(--padding-side-mobile);
    } 

    p, .review-star-and-name {
        padding: var(--padding-extra-small-mobile) 0;
    }

    /* Must add all the sections */
    .hero-section, .about-section, .best-seller-section, 
    .browse-by-category-section, .value-section, .blog-section, 
    .review-section, footer, .popup {
        padding: var(--padding-medium-mobile) var(--padding-side-mobile);
    }

    .hero-content-wrapper, .about-content-wrapper {
        padding: 0;
    }

    .about-section {
        padding: var(--padding-medium-mobile) var(--padding-side-mobile);
    }

    .product-cards-wrapper-row {
        gap: var(--padding-small-mobile);
    }

    details {
        padding: var(--padding-extra-small-mobile) 0;
    }

    .review-card {
        padding:var(--padding-small-mobile);
    }

    .form-input-wrapper, .social-media-icon-wrapper {
        gap: var(--padding-extra-small-mobile);
    }
}