/* Heading font */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Noto+Sans:ital,wght@0,300;1,300&display=swap');
/* Body font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;600&display=swap');

:root {
    /* Body */
    --font-primary: 'Noto Sans', Arial, Helvetica, sans-serif;
    --font-primary-bold: 600;
    --font-primary-normal: 400;
    /* Headings */
    --font-secondary: 'Crimson Pro', serif;
    --font-secondary-bold: 400;
    --font-secondary-normal: 200;
    /* Base value for font sizes */
    --text-desktop-base-size: 1rem;
    --text-phone-base-size: 0.8rem;
    --text-desktop-letter-spacing: 0.4px;
}

body {
    font-family: var(--font-primary);
    font-size: var(--text-desktop-base-size);
    font-weight: var(--font-primary-normal);
    letter-spacing: var(--text-desktop-letter-spacing);
}

.heading {
    font-family: var(--font-secondary);
    font-weight: var(--font-secondary-normal);
}

ul {
    list-style-type: none;
  }
  
a {
    text-decoration: none;
}

#currency-selector {
    font-family: var(--font-primary);
    font-size: var(--text-desktop-base-size);
    letter-spacing: var(--text-desktop-letter-spacing);

}

@media (max-width: 390px) {
    body {
        font-size: var(--text-phone-base-size);
    }
    
}



