/* Heading font */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Noto+Sans:ital,wght@0,300;1,300&display=swap');
/* Body font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;600&display=swap');

:root {
    /* Body */
    --font-primary: 'Noto Sans', Arial, Helvetica, sans-serif;
    --font-primary-bold: 600;
    --font-primary-normal: 400;
    /* Headings */
    --font-secondary: 'Crimson Pro', serif;
    --font-secondary-bold: 500;
    --font-secondary-normal: 200;
    /* Base value for font sizes */
    --text-base-size-desktop: 1rem;
    --text-base-size-mobile: 0.9rem;
    --text-desktop-letter-spacing: 0.4px;

    /* Heading font sizes */
    --text-desktop-h1-size: 3.5rem;
    --text-mobile-h1-size: 3rem;
    --text-desktop-h2-size: 2rem;
    --text-mobile-h2-size: 1.5rem;
    --text-desktop-h3-size: 1.5rem;
    --text-mobile-h3-size: 1.2rem;
    --text-desktop-h4-size: 1.2rem;
    --text-mobile-h4-size: 1rem;
}

body {
    font-family: var(--font-primary);
    font-size: var(--text-base-size-desktop); 
    font-weight: var(--font-primary-normal);
    letter-spacing: var(--text-desktop-letter-spacing);
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-size: 2rem !important;
}

.star-icon {
    font-family: 'Material Symbols Outlined';
    font-size: 1.5rem !important;
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.heading {
    font-family: var(--font-secondary);
}

.notification > h3 {
    font-weight: var(--font-secondary-normal);
}
ul {
    list-style-type: none;
  }
  
li > a {
    text-decoration: none;
}

#currency-selector {
    font-family: var(--font-primary);
    font-size: var(--text-base-size-desktop);
    letter-spacing: var(--text-desktop-letter-spacing);
}

h1 {
    font-weight: var(--font-secondary-bold);
    font-size: var( --text-desktop-h1-size);
    font-style: italic;
}

.btn {
    font-family: var(--font-secondary);
    font-weight: var(--font-pimary-normal);
    font-size: var(--text-desktop-h3-size);
}

.btn--green, .email-input {
    font-family: var(--font-primary);
    font-size: var(--text-base-size-desktop);
}

h2 {
    font-weight: var(--font-secondary-bold);
    font-size: var(--text-desktop-h2-size);
}

.read-more-link > a {
    font-weight: var(--font-secondary-normal);
}

h3, summary {
    font-weight: var(--font-secondary-bold);
    font-size: var(--text-desktop-h3-size);
}

h4 {
    font-size: var(--text-desktop-h4-size);
    font-weight: var( --font-secondary-normal);
}

.review-heading {
    font-style: italic;
}

.bi {
    font-size: 2.5rem;
}

@media (max-width: 390px) {
    body {
        font-size: var(--text-base-size-mobile);
    }

    h4 {
        font-size: var(--text-mobile-h4-size);
    }
    h3, summary {
        font-size: var(--text-mobile-h3-size);
    }
    h2 {
        font-size: var(--text-mobile-h2-size);
    }
    h1 {
        font-size: var(--text-mobile-h1-size);
    }

    .btn{
        font-family: var(--font-secondary);
        font-weight: var(--font-secondary-normal);
        font-size: var(--text-mobile-h3-size);
    }

    .btn--green, .email-input {
        font-size: var(--text-base-size-mobile);
    }

    .star-icon {
        font-size: 1rem !important;
    }

    .bi {
        font-size: 2rem;
    }
}



